.terraform/
.tmp/
.idea/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d/
terraform.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
backend.hcl
terraform/environments/lab/backend.tf
*.tfplan
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.env
.env.*
.direnv/
.DS_Store
